/* 
Project Name: Trainers Edge New
Client: Trainers Edge
Author: Jo Clark
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/
/*max-width: 100%;*/
.site-container {
	max-width: 980px;
	margin: 0 auto;
     font-family: 'Armata', sans-serif;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
}

h1 span {
     color:black;
}
.site-header {
     border-bottom: 1px solid black;
     position:fixed;
     z-index: 100;
     background: #fff;
     top: 0px;
    
}

.site-header h1 {
	color: #FF8C00;
     font-size: 30px;
     font-weight: bold;	
     padding:30px 0px 10px 0px;
     margin: 0;
     
}

.site-header h1, .nav li{
     margin: 0;
     display: inline-block;
}

.site-header .nav li:nth-last-child(1) {
    margin-right: 28px
}

/*.nav ul li {*/
     /*display:inline-block;*/
     /*margin: 0;*/
/*}*/

.site-content {
    height: 2300px;
    margin-top: 50px;
}

/*nav ul {*/
     /*border-top: 1px solid black;*/
     /*border-bottom: 1px solid black;*/

/*}*/
.site-header .nav {
     float: right;
     padding:45px 0px 10px 0px;
}

ul {
     margin: 0px 0px 0px 30px;
}
nav ul li {
     font-size: 12px;
}
ul li {
     list-style-type: none;
}

a {
     text-decoration: none;
     padding:0px 6px 0px 0px;
     color:black;
}

a:hover {
    color:#FF8C00;
}
a:focus {
    color:#FF8C00;
}
a:active {
    color:#FF8C00;
}

.site-container {
    position:relative;
    top:45px;
}

.container-1 {
    text-align: center;
    width: 75%;
    height: 270px;
    margin: 20px 10px 100px 220px;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    padding:5px;
    background-color: #E6E6E6;
    text-shadow:0.10px 0.10px 0.10px #FF8C00;
}

img {
    height: 325px;
    margin:20px 0px 0px -10px;

}       

img {
    float: left;
} 

.find-a-trainer img {
    height: 325px;
    margin: 20px 0px 0px -10px;

}   
    
span {
    color: #FF8C00;
}
.container-1 p {
    text-align: center;
    color: black;
}

button {
    background-color: #FF8C00;
    font-size: 1em;
    padding:5px;
    border-radius: 10px;
}

.container-2{
    text-align: center;
    width: 75%;
    height: 270px;
    margin: 20px 10px 100px 220px;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    padding:5px;
    background-color: #E6E6E6;
    text-shadow:0.10px 0.10px 0.10px #FF8C00;
}

.container-2 img {
    height: 325px;
    margin:30px 0px 0px 0px;

}       

img {
    float: left;
} 


h3 {
     font-size: 24px;
     text-align: center;
    color: black;
}

.container-3 {
    text-align: center;
    width: 75%;
    height: 270px;
    margin: 20px 10px 100px 220px;
    border: 5px solid black;
    border-radius: 20px;
    padding:5px;
    background-color: #E6E6E6;
    text-shadow:0.10px 0.10px 0.10px #FF8C00;
}

.container-4 {
    text-align: center;
    width: 75%;
    height: 270px;
    margin: 20px 10px 100px 220px;
    border: 5px solid black;
    border-radius: 20px;
    padding:5px;
    background-color: #E6E6E6;
    text-shadow:0.10px 0.10px 0.10px #FF8C00;
}

.container-5 {
    width: 100%;
    height:380px;
    text-align: center;
    padding: 0px 10px 10px 10px;
    text-shadow:0.10px 0.10px 0.10px #FF8C00;
    margin: 5px;
    /*border: 2px solid black;*/
}


/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
    height:140px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #E6E6E6;
    padding: 2px;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


.row-1 {
    text-align: center;
    height:20px;
    margin-bottom: 10px;
}

.col img {
    height:100%;
    width: 30%;
    margin: 0px;
}

.section p {
    font-size: 12px;
}

.container-6 {
    text-align: center;
    width: 75%;
    height: 270px;
    margin: 20px 10px 100px 220px;
    background-color: #E6E6E6;
    border: 5px solid black;
    border-radius: 20px;
    padding:5px;
    text-shadow:0.10px 0.10px 0.10px #FF8C00;
}


.site-footer {
     border-top: 1px solid black;
     margin-top: 0px;
     position: fixed;
     z-index: 100;
     background: #fff;
     bottom: 0px;
}

.site-footer li{
     margin: 10px 18px 20px 24px;
     display: inline-block;
     font-size: 13px;

}  

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




